/* Base Styles */
body.dark {
    background-color: black;
    color: white;
}

body.dark #map {
    background-color: rgb(15, 13, 13);
}

body.light {
    background-color: rgb(203, 220, 236);
    color: black;
}

body.light #map {
    background-color: rgb(193, 200, 235);
}

.answer {
    padding-left: 15rem;
    padding-right: 15rem;
    font-size: xx-large;
}

#map {
    margin-top: 30px;
    height: 35rem;
    width: 100%;
}

#score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreMini {
    display: flex;
    justify-content: space-between;
}

#sec0 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 50px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Country labels */
.country-label {
    font-size: 10px;
    color: #fcfcfc;
    background: transparent;
    border: none;
    box-shadow: none;
    pointer-events: none;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 40000;
    font-style: normal;
}

#bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#menu, #between {
    background-color: rgb(88, 90, 223);
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 30%;
    transition-duration: 0.5s;
    justify-content: center;
    border-radius: 50px;
    margin-top: 10px;
    padding: 20px;
}

#between {
    font-size: x-large;
}

#menu:hover, #between:hover {
    scale: 1.1;
}

/* Responsive Styles for Screens Under 600px */
@media (max-width: 600px) {
    .answer {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: large;
    }

    #map {
        height: 20rem;
    }

  

    #sec0 {
        flex-direction: column;
        gap: 20px;
    }

    #buttons {
        flex-direction: column;
        gap: 20px;
    }

    #menu, #between {
        width: 80%;
        margin-top: 5px;
        padding: 15px;
    }

    #between {
        font-size: medium;
    }



    #choices {
        flex-direction: column;
        
        justify-content: center;
    }
    .button {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }


    

}

a{
    outline-style: none;
    color: rgb(88, 90, 223);
    text-decoration: none;
    transition-duration: 0.5s;
}

a:hover {
    scale: 1.1;
}


#round {
    margin-left: 5px;
}