
body.dark {
    background-color: black;
    color: white;
}

body.dark #map {
    background-color: rgb(15, 13, 13);
}

body.light {
    background-color: rgb(203, 220, 236);
    color: black;
}

body.light #map {
    background-color: rgb(193, 200, 235);
}

.answer {
    padding-left: 15rem;
    padding-right: 15rem;
    font-size: xx-large;
}

#map {
    margin-top: 30px;
    height: 35rem;
    width: 100%;

}


#score {
    display: flex;
    justify-content: space-between;

}

#sec0 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
}

#buttons {
    display: flex;
    gap: 50px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Styles des labels de pays */
.country-label {
    font-size: 10px;
    
    color: #fcfcfc; /* Couleur du texte */
    background: transparent; /* Enlève le fond */
    border: none; /* Enlève les bordures */
    box-shadow: none; /* Supprime l'ombre */

    pointer-events: none; /* Empêche de sélectionner les labels */
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 40000;
    font-style: normal;
  }


  #bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

  
  #menu {
    background-color: rgb(88, 90, 223);
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 30%;
    transition-duration: 0.5s;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 10px;
    padding: 20px;
  }

  #menu:hover {
    scale: 1.1;
  }